/* countries */
path {
    stroke: black;
    /* fill:#d9534f; */
}
path:hover {
    fill: green;
}
svg {
    width: 1000px;
    height: 500px;
    display: flex;
    background-color: lightblue;
    border: solid black 0.2rem;
    margin: 0 auto;
}